# Environment variables - NEVER push these
backend/.env
frontend/.env
.env

# Node modules
backend/node_modules/
frontend/node_modules/
node_modules/

# Mac system files
.DS_Store
**/.DS_Store

# Build files
frontend/build/
backend/build/

# Logs
*.log
npm-debug.log*.DS_Store
**/.DS_Store
